body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
    
}
*{
    box-sizing: border-box;
}
.text-section{
    text-align: center;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


.text-section h1.heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    user-select: none;
}

.text-section h3.subheading{
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    user-select: none;
}

.text-section p.text{
    text-align: center;
    font-size: 40px;
    user-select: none;
}

.text-section p.text span.smoke{
    color: green;
}

.text-section h1.heading span.smoke{
    color: purple;
}

.text-section h3.subheading span.smoke{
    color: yellow;
}
.text-section span{
    display: inline-block;
    cursor: pointer;
}

.text-section p.text span.smoke{
    animation: smoke 2s linear forwards;
    transform-origin: bottom;
}

.text-section h1.heading span.smoke{
    animation: smoke2 2s linear forwards;
    transform-origin: bottom;
}

.text-section h3.subheading span.smoke{
    animation: smoke2 2s linear forwards;
    transform-origin: bottom;
}

@keyframes smoke{
    0%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) scale(0) rotate(0deg); 
    }
    50%{
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) scale(4) rotate(90deg);
    }
}

@keyframes smoke2{
    0%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) scale(0) rotate(0deg); 
    }
    50%{
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) scale(4) rotate(90deg);
    }
}

